<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_feed_list_path(@feed_list) %> |
<%= link_to 'Back', feed_lists_path %>
<br>
</br>
<div style="position: relative">
<table border="1" style="width:100%" id="t01">
  <caption style="font-size:20px; color: black; opacity: 100; font-weight: bold;">Feeding List</caption>
  <tr>
    <th>Name</th>
    <th>Diet</th>
	  <th>Run</th>
  </tr>
 
<% @feed_list.patients.each do |patient| %>
  <tr>
    <td><%= patient.name + " " + patient.owner.last_name %></td>
    <td><%= patient.diet %></td>
    <td><%= Runn.find_by_id(patient.stays.last.runn_id).ident %></td> 
  </tr> 
<% end %>

</table>
</div>



