<li>
  <%= link_to owner.id, owner %> 
  <%= link_to owner.email, owner %> 
  <%= link_to owner.first_name, owner %> 
  <%= link_to owner.last_name, owner %> 
  <%= link_to owner.phone_number, owner %> 
</li>
