<h1>Owners</h1>

<!-- Search form pagination done by: Vincent Rodomsita -->
<%= form_tag '/owners', :method => 'get' do %>
  <%= render 'shared/search_an_index' %>
<% end %>
<br>

<!-- Add Owner button -->
<div>
	<%= link_to "+ Add Owner", new_owner_path, class: "btn btn-lg btn-primary" %>
</div>

<!-- -->
<div class="thumblist">
  <ul>
    <% @owners.each do |owner| %>
    <li style="list-style-type:none" class="thumblist">
      <div style="display:inline-block; position: relative;">
      <h3 style="position: relative; top: -40;"><%= link_to "#{owner.first_name} #{owner.last_name}", owner%></h3>
    <%= 
      if owner == @owners.first
        link_to "", owner, data: { keybinding: ['j', 'h', 'l'] }
      end 
    %>
      <ul class="owner_patients">
      <% owner.patients.each do |p| %>
        <li>
          <%= link_to image_tag(p.image_url(:index_thumb).to_s, height: '32'), p %>
        </li>
      <% end %>
      </ul>
      </div>
      <div style="float:right; position: relative; vertical-align: middle;">
      <% if is_admin? %>
      <p><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, owner, method: :delete,data: { confirm: "You sure?" } %>
        <p> 
      <% end %>
    </div>
    </li>
    <% end %>
  </ul>
</div>
<%= will_paginate %>
