<% provide(:title, "OWNER: " + @owner.first_name + " " + @owner.last_name)  %>

<div class="show">
	<%= link_to "Add Patient", new_patient_path, class: "btn btn-lg btn-primary"%>
</div>

<div style="position: relative">
	<h1><%= "#{@owner.first_name} #{@owner.last_name}" %></h1>
	<p><%= "Id : " "#{@owner.id}" %></p>
    <p><%= "Email : " "#{@owner.email}" %></p>
    <p><%= "Phone Number : " "#{@owner.phone_number}" %></p>
    <p><%= "Created at " "#{@owner.created_at}" %></p>
    <p><%= "Updated at " "#{@owner.updated_at}" %></p>

	<p>Has <%= pluralize(@owner.patients.count, "Pet") %>:</p>
	<ul>
	  <%= render @owner.patients %>
	</ul>
</div>