<% provide(:title, "OWNER: " + @owner.first_name + " " + @owner.last_name)  %>

<h1><%= "#{@owner.first_name} #{@owner.last_name}" %></h1>
<% for attribute in @owner.attributes.keys %>
  <p><%= attribute.humanize %> <%= @owner.attributes[attribute].to_s %></p>
<% end %>

<p>Has <%= pluralize(@owner.patients.count, "Pet") %>:</p>
<ul class="patients">
  <%= render @owner.patients %>
</ul>
