<% provide(:title, "OWNER: " + @owner.first_name + " " + @owner.last_name)  %>

<div>
  <h1>

    <%= link_to @owner.previous, data: { keybinding: '["h", "left"]' }, class: "btn" do %>
        <i class="glyphicon glyphicon-menu-left"></i>
    <% end %>

    <%= "#{@owner.first_name} #{@owner.last_name}" %>

    <%= link_to @owner.next, data: { keybinding: '["l", "right"]' }, class: "btn" do %>
        <i class="glyphicon glyphicon-menu-right"></i>
    <% end %>
  </h1>
	<p><%= "Id : " "#{@owner.id}" %></p>
    <p><%= "Email : " "#{@owner.email}" %></p>
    <p><%= "Phone Number : " "#{@owner.phone_number}" %></p>
    <p><%= "Created at " "#{@owner.created_at}" %></p>
    <p><%= "Updated at " "#{@owner.updated_at}" %></p>
 <div class="panel panel-default">
 	<div class="panel-body">
    <div class="show">
    <%= link_to "Register New Patient", new_patient_path, class: "btn btn-lg btn-primary"%>
    </div>
	  <p>Has <%= pluralize(@owner.patients.count, "Pets") %>:</p>
	  <table class='owners' id="t01">
  	    <tbody>
          <%= render @patients %>
        </tbody>
      </table>
	</div>
</div>

</div>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path, data: { keybinding: [ 'b', 'k', 'up' ]} %>
