<% provide(:title, 'Check In') %>
<h1>Check In</h1>
<h2><center><%= "patient: #{@patient.name} #{@patient.owner.last_name}" %></center></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@stay) do |f| %>
    
      <%= f.label :belongings %>
      <br>
      <%= f.text_field :belongings %>
      <br>
      <%= f.label :remarks %>
      <br>
      <%= f.text_field :remarks %>
      <br>
      <%= f.label :runn_id, "Run"%>
      <br>
      <%= f.select :runn_id, Runn.get_empty_runns.collect { |r| [ r.ident, r.id  ] } %>	
      
      <%= f.submit "Create stay", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

