<% provide(:title, 'NewStay') %>
<h1>Check In New Stay</h1>
<h2><%= "for patient #{@patient.name}" %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@stay) do |f| %>
    
      <%= f.label :belongings %>
      <%= f.text_field :belongings %>

      <%= f.label :remarks %>
      <%= f.text_field :remarks %>`
      
      <%= f.submit "Create stay", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

