<%= form_for(@patient) do |f| %>

<% provide(:title, "EDIT PATIENT: #{@patient.name} the #{@patient.breed}")  %>

<!-- Header -->
<h1>Edit Patient Profile<h1>

<h2><center>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', style: 'width: 210px' %>
</center>
</h2>

<!-- Patient Profile Information -->
  <!-- Patient Picture -->
  <table border="0" class="patient-container" style="width: 100%; border-bottom: 1px solid #eee; border-collapse: separate;">
    <td style="border: 1px solid #588ebb;">
        <%= image_tag @patient.image_url(:thumb).to_s,
            :style=>" float: left; margin: 20px;" %> 
            <%= f.file_field :image %>
    </td>
    <td style="width: 75%; border: 1px solid #588ebb;"> 
    <%= f.submit "Save changes", class: "btn btn-primary", style: "float: right; height: 40px; widht: 80px; margin-right: 100px; margin: 10px;" %>
    <%= f.label :weight %>
    <%= f.text_field :weight, class: 'form-control', style: 'width: 60px' %>
    <%= f.label :diet %>
    <%= f.text_field :diet, class: 'form-control', style: 'width: 200px' %>
    <%= f.label :breed %>
    <%= f.text_field :breed, class: 'form-control', style: 'width: 200px' %>
    <!-- NPO checkbox -->
    <% if @patient.has_current_stay? %>
      <%= f.label :npo, "NPO" %>
      <%= f.check_box :npo %>
    <% end %>
    </td>
</table>
</div>

<% end %>
