<h1>Patients</h1>

<!-- Search form pagination done by: Vincent Rodomsita -->
<%= form_tag '/patients', :method => 'get' do %>
  <%= render 'shared/search_an_index' %>
<% end %>
<% provide(:title, 'All patients') %>

<!--Patient list pagination done by: Emily Ribando-Gros -->
  <div class=thumblist>
    <ul>
      <% @patients.each do |patient| %>
      <%= 
      if patient == @patients.first
        link_to "", patient, data: { keybinding: ['j', 'h' ,'l'] }
      end 
      %>
      <% if patient.has_current_stay? %>
      <li style="list-style-type:none" class="thumblist-staying">
      <% else %>
      <li style="list-style-type:none" class="thumblist">
      <% end %>
        <% if patient.image_url(:index_thumb).present? %>
          <% patient_image_url = patient.image_url(:index_thumb).to_s %>
        <% else %>
          <% patient_image_url = 'genericdoghead.png' %>
        <% end %>
        <%= link_to image_tag(patient_image_url, height: '53'), patient %>
        <div style="display:inline-block; position: relative; top: -10px; vertical-align: middle;">
        <h3><%= link_to "#{patient.name}", patient%></h3>
        <% if patient.has_current_stay? %>
        <p>  <span class="label label-pill label-info" style="float:left; background: #c7d9e8"><%= link_to patient.current_stay.runn.ident, patient %></span></p>
        <% end %>
        </div>
        <div style="float:right; position: relative; vertical-align: middle;">
        <% if is_admin? %>
         <p><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, patient, method: :delete, data: { confirm: "You sure?" } %></p>
        <% end %>
      </div>
      </li>
      <% end %>
    </ul>    
  </div>
<%= will_paginate %>
