<h1>Patients</h1>

<!-- Search form pagination done by: Vincent Rodomsita -->
<%= form_tag '/patients', :method => 'get' do %>
  <%= render 'shared/search_an_index' %>
<% end %>
<br>
<% provide(:title, 'All patients') %>
<p>FIRST: <%= "#{@patients.first.id} #{@patients.first.name}" %></p>
<p>LAST: <%= "#{@patients.last.id} #{@patients.last.name}" %></p>
<!--Patient list pagination done by: Emily Ribando-Gros -->
<% @patients.each do |patient| %>
  <div class=thumblist>
    <ul>
      <%= 
      if patient == @patients.first
        link_to "", patient, data: { keybinding: ['j', 'h' ,'l'] }
      end 
      %>
      <% if patient.has_current_stay? %>
      <li style="list-style-type:none" class=thumblist-staying>
      <% else %>
      <li style="list-style-type:none" class=thumblist>
      <% end %>
        <%= link_to image_tag(patient.image_url(:index_thumb).to_s), patient %>
        <% if patient.has_current_stay? %>
          <span class="label label-pill label-info" style="float:left;"><%= link_to patient.current_stay.runn.ident, patient.current_stay.runn %></span>
        <% end %>
        <h3><%= link_to "#{patient.name}", patient%></h3>
        <% if is_admin? %>
         <p style="float: right"><%= link_to "Delete", patient, method: :delete,
                                    data: { confirm: "You sure?" } %></p>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>

