<h1>Patients</h1>

<%= form_tag '/patients', :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<br>
<% provide(:title, 'All patients') %>


<div style="position: relative">
<table border="1" style="width:100%" id="t01">
  <tr>
    <th>Id</th>
    <th>Name</th>
	<th>Owner</th>
  </tr>
 
<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.id %>.</td>
    <td><%= link_to "#{patient.name}", patient%>
    	<%= patient.owner.last_name %></td>
    <td><%= link_to "#{patient.owner.first_name} #{patient.owner.last_name}", patient.owner %></td> 
  </tr> 
<% end %>

</table>
</div>
<%= will_paginate %>
