<h1>Patients</h1>

<!-- Search form pagination done by: Vincent Rodomsita -->
<%= form_tag '/patients', :method => 'get' do %>
  <p><center>
    <%= text_field_tag :search, params[:search], data: { keybinding: '/' } %>
    <%= submit_tag "Search", :name => nil %>
  </center></p>
<% end %>
<br>
<% provide(:title, 'All patients') %>

<!--Patient list pagination done by: Emily Ribando-Gros -->
<% @patients.each do |patient| %>
<div class=thumblist>
  <ul>
    <% if patient.has_current_stay? %>
    <li style="list-style-type:none" class=thumblist-staying>
    <% else %>
    <li style="list-style-type:none" class=thumblist>
    <% end %>
      <img class=thumblist src="https://s-media-cache-ak0.pinimg.com/236x/43/68/ba/4368bac227be42d243029c276a9a73f8.jpg" height="70px" width="70px">
      <h3><%= link_to "#{patient.name}", patient%></h3>
      <% if patient.has_current_stay? %>
      <p><tt>Staying in</tt> : [<%= link_to patient.current_stay.runn.ident, patient.current_stay.runn %>]</p>
      <% end %>
      <% if is_admin? %>
       <p style="float: right"><%= link_to "Delete", patient, method: :delete,
                                  data: { confirm: "You sure?" } %></p>
      <% end %>
    </li>
  </ul>
</div>
<% end %>

