<% provide(:title, 'NewPatient') %>
<h1>Register New Patient</h1>
<h2><center><%= "for customer #{@owner.name}" %></center></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@patient) do |f| %>
      <%= f.label :name, "First Name" %> 
      <br>
      <%= f.text_field :name %>
      <br>
      <%= f.label :breed, "Breed" %> 
      <br>
      <%= f.text_field :breed %>
      <br>
      <%= f.label :weight %>
      <br>
      <%= f.text_field :weight %>
      <br>
      <%= f.label :diet %>
      <br>
      <%= f.text_field :diet %>
      <br>
      <%= f.submit "Create Patient Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
