<% provide(:title, "PATIENT: #{@patient.name} the #{@patient.breed}")  %>

<h1><%= "#{@patient.name} the #{@patient.breed}" %></h1>

<!-- Check In button -->
  <div style="float: right">
    <% if @patient.has_current_stay? %>
      <%= link_to "Check Out", '#todo-make-checkout-page', class: "btn btn-lg btn-danger"%>
    <% else %>
      <%= link_to "Check In", new_stay_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

  <%= image_tag @patient.image_url(:thumb).to_s %>
  
  <p><%= "Id : " "#{@patient.id}" %></p>
  <p><%= "Weight : " "#{@patient.weight}" %></p>
  <p><%= "Diet : " "#{@patient.diet}" %></p>
  <p><%= "Created at " "#{@patient.created_at}" %></p>
  <p><%= "Updated at " "#{@patient.updated_at}" %></p>
  <p>Belongs to <%= link_to "#{@patient.owner.first_name} #{@patient.owner.last_name}", @patient.owner %></p>

  <p><i>## -- Some debugging info below ------------- ##</i></p>

  <p>has_current_stay?: [<%= @patient.has_current_stay? %>]</p>
  <p>current_stay: [<%= if @patient.current_stay then link_to "#{@patient.current_stay.id}", @patient.current_stay end %>]</p>
  <p>current_runn: [<%= if @patient.current_stay then link_to "#{@patient.current_runn.ident}", @patient.current_runn end %>]</p>

<% if @patient.stays.length > 0 %>


<h3> Stays </h3>
  <ul>
  	<%= render @patient.stays %>
  </ul>
<% end %>
