<% provide(:title, "PATIENT: #{@patient.name} the #{@patient.breed}")  %>

<div class="show">
	<%= link_to "Check In", new_stay_path, class: "btn btn-lg btn-primary"%>
</div>

<h1><%= "#{@patient.name} the #{@patient.breed}" %></h1>
  <p><%= "Id : " "#{@patient.id}" %></p>
  <p><%= "Weight : " "#{@patient.weight}" %></p>
  <p><%= "Diet : " "#{@patient.diet}" %></p>
  <p><%= "Created at " "#{@patient.created_at}" %></p>
  <p><%= "Updated at " "#{@patient.updated_at}" %></p>
  <p>Belongs to <%= link_to "#{@patient.owner.first_name} #{@patient.owner.last_name}", @patient.owner %></p>
<% if @patient.stays.length > 0 %>

<h3> Stays </h3>
  <ul>
  	<%= render @patient.stays %>
  </ul>
<% end %>