<%= form_for(@runn) do |f| %>
  <% if @runn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runn.errors.count, "error") %> prohibited this runn from being saved:</h2>

      <ul>
      <% @runn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amenities %><br>
    <%= f.text_field :amenities %>
  </div>
  <div class="field">
    <%= f.label :ident %><br>
    <%= f.text_field :ident %>
  </div>
  <div class="field">
    <%= f.label :occupied %><br>
    <%= f.check_box :occupied %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :ward_id %><br>
    <%= f.text_field :ward_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
