<% r = runn  %>
<% p = r.current_patient if r.occupied? %>
<% pfullname = "#{p.name} #{p.owner.last_name}" if r.occupied? %>

<div class="panel panel-<%= r.occupied? ? 'primary' : 'default' %>">
  <div class="panel-heading" >
    <%= link_to "#{r.ident}", r  %>
  </div>
  <div class="panel-body">
    <% if r.occupied? %>
      <p>
        <%= link_to "#{pfullname}", p %>
        <%= image_tag p.image_url(:index_thumb).to_s %>
      </p>
      <div class="rut">
        <!-- TODO: implement run indication timer -->
        <ul class="list-group">
          <li class="list-group-item">3 minutes remaining</li>
        </ul>
      </div>
    <% else %>
      <ul class="list-group">
        <li class="list-group-item"><b>size</b><%= ": #{r.size}"  %></li>
        <!-- TODO: add check in button -->
      </ul>
      <% end %>
  </div>
</div>
