<% r = runn  %>
<% if r.occupied? %>
  <% p = r.current_patient %>
  <% pfullname = "#{p.name} #{p.owner.last_name}" %>
  <% if p.image_url(:index_thumb).present? %>
    <% patient_image_url = p.image_url(:index_thumb).to_s %>
  <% else %>
    <% patient_image_url = 'genericdoghead.png' %>
  <% end %>
<% end %>



<div class="panel panel-<%= r.occupied? ? 'primary' : 'default' %>">
  <div class="panel-heading" >
    <%= link_to "#{r.ident}", r  %>
  </div>
  <div class="panel-body">
    <% if r.occupied? %>
      <div class="rut">
        <ul class="list-group">
          <li class="list-group-item">
            <%= link_to image_tag(patient_image_url, height: '32'), p %>
            <%= link_to "#{pfullname}", p %>
          </li>
          <li class="list-group-item">
            <!-- TODO: implement run indication timer -->
            3 minutes remaining
          </li>
        </ul>
      </div>
    <% else %>
      <ul class="list-group">
        <li class="list-group-item">
          <b>VACANT</b>
          <%= image_tag("spacer.gif", height: '32', width: '32') %>
        </li>
        <li class="list-group-item"><b>size</b><%= ": #{r.size}"  %></li>
          <!-- TODO: add check in button -->
      </ul>
      <% end %>
  </div>
</div>
