<div class="panel panel-<%= runn.occupied? ? 'primary' : 'default' %>">
  <div class="panel-heading" >
    <%= link_to "#{runn.ident}", runn  %>
  </div>
  <div class="panel-body">
    <p>
      <%= runn.occupied? ? "OCCUPIED by" : "VACANT" %> 
      <%= link_to "#{runn.current_patient_name}", runn.current_patient %>
    </p>
    <ul class="list-group">
      <li class="list-group-item"><b>size</b><%= ": #{runn.size}"  %></li>
      <li class="list-group-item"><b>amenities</b><%= ": #{runn.amenities}"  %></li>
    </ul>
  </div>
</div>
