<div class="panel panel-<%= runn.occupied? ? 'primary' : 'default' %>">
  <div class="panel-heading">
    <%= "#{runn.ident}"  %>
  </div>
  <div class="panel-body">
    <p><%= runn.occupied? ? "OCCUPIED" : "VACANT" %></p>
    <ul class="list-group">
      <li class="list-group-item"><b>size</b><%= ": #{runn.size}"  %></li>
      <li class="list-group-item"><b>amenities</b><%= ": #{runn.amenities}"  %></li>
    </ul>
  </div>
</div>
