<p id="notice"><%= notice %></p>

<h1>Listing Runns</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Amenities</th>
      <th>Ident</th>
      <th>Occupied</th>
      <th>Size</th>
      <th>Ward Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runns.each do |runn| %>
      <tr>
        <td><%= runn.id %></td>
        <td><%= runn.amenities %></td>
        <td><%= runn.ident %></td>
        <td><%= runn.occupied %></td>
        <td><%= runn.size %></td>
        <td><%= runn.ward.id %></td>
        <td><%= link_to 'Show', '#runn' %></td>
        <td><%= link_to 'Edit', '#edit_runn_path(runn)' %></td>
        <td><%= link_to 'Destroy', '#runn', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runn', '#new_runn_path' %>
