<p id="notice"><%= notice %></p>

<h1>
  <%= link_to @runn.previous, data: { keybinding: '["h", "left"]' }, class: "btn" do %>
      <i class="glyphicon glyphicon-menu-left"></i>
  <% end %>

  <%= @runn.ident %>

  <%= link_to @runn.next, data: { keybinding: '["l", "right"]' }, class: "btn" do %>
      <i class="glyphicon glyphicon-menu-right"></i>
  <% end %>
</h1>

<% if @runn.occupied? %>
  <h2>
    <%= link_to @runn.current_patient.name, @runn.current_patient %><br>
  </h2>
  <p>
    <%= link_to image_tag(@runn.current_patient.image_url(:thumb).to_s), @runn.current_patient %><br>
  </p>
  <p>
    Owner: <%= link_to @runn.current_patient.owner.name, @runn.current_patient.owner %>
  </p>
<% end %>

<p>
  <strong>Size:</strong>
  <%= @runn.size %>
</p>

<% if @runn.occupied? %>
  <p>
    <strong>Belongings:</strong>
    <%= @runn.current_patient.belongings %>
  </p>
<% end %>

<p>
  <strong>Ward:</strong>
  <%= "id: #{@runn.ward.id}, ident: #{@runn.ward.ident}" %>
</p>

<p>
  <strong>Num Sibling Runs:</strong>
  <%= "#{@runn.sibling_runns.count}" %>
</p>

<p>
  <strong>List of Sibling Runs:</strong>
  <%= "#{@runn.sibling_runns.ids}" %>
</p>

<%= link_to 'Edit', edit_runn_path(@runn) %> |
<%= link_to 'Back', @runn.ward, data: { keybinding: [ 'b', 'k', 'up' ]} %>
