<p id="notice"><%= notice %></p>

<h1>Listing Ward Views</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ward_views.each do |ward_view| %>
      <tr>
        <td><%= link_to 'Show', ward_view %></td>
        <td><%= link_to 'Edit', edit_ward_view_path(ward_view) %></td>
        <td><%= link_to 'Destroy', ward_view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ward view', new_ward_view_path %>
