<% provide(:title, @ward.ident) %>
<h1>

  <%= link_to @ward.previous, class: "btn" do %>
      <i class="glyphicon glyphicon-menu-left"></i>
  <% end %>

  <%= @ward.ident %>

  <%= link_to @ward.next, class: "btn" do %>
      <i class="glyphicon glyphicon-menu-right"></i>
  <% end %>
</h1>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_ward_path(@ward) %> |
<%= link_to 'Back', wards_path %>

<h3> Runs </h3>

<% @ward.runns.each do |runn| %>
    <%= render runn %>
<% end %>
