<% provide(:title, @ward.ident) %>

<% if current_user.admin? %>
  <%= link_to ' <i class="glyphicon glyphicon-th-list"></i> Manage Wards'.html_safe, wards_path, class: "btn btn-lg btn-primary", :style=>'margin-left: 20px; margin-top: 20px; float: left; z-index: -1' %>
  <%= link_to ' <i class="glyphicon glyphicon-cog"></i> Manage Runs'.html_safe, runns_path, class: "btn btn-lg btn-primary", :style=>'margin-right: 20px; margin-top: 20px; float: right; z-index: -1;' %>
<% end %>
<h1>
  <%= link_to @ward.previous, data: { keybinding: '["h", "left"]' }, class: "btn" do %>
      <i class="glyphicon glyphicon-menu-left"></i>
  <% end %>

  <%= link_to @ward.ident, edit_ward_path(@ward) %>

  <%= link_to @ward.next, data: { keybinding: '["l", "right"]' }, class: "btn" do %>
      <i class="glyphicon glyphicon-menu-right"></i>
  <% end %>
</h1>

<div class="row">
    <% @ward.runns.each do |runn| %>
      <%= 
      if runn == @ward.runns.first
        link_to "", runn, data: { keybinding: ['j', 'k'] }
      end 
      %>
      <div class="col-md-4" id="ward-view-runn">
        <%= render runn %>
      </div>
    <% end %>
  </div>
</div>

