<% provide(:title, @ward.ident) %>
<h1>

  <%= link_to @ward.previous, data: { keybinding: '["h", "left"]' }, class: "btn" do %>
      <i class="glyphicon glyphicon-menu-left"></i>
  <% end %>

  <%= @ward.ident %>

  <%= link_to @ward.next, data: { keybinding: '["l", "right"]' }, class: "btn" do %>
      <i class="glyphicon glyphicon-menu-right"></i>
  <% end %>
</h1>

<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_ward_path(@ward) %> |
  <%= link_to 'Back', wards_path %>
<% end %>

<h3> Runs </h3>

<div class="row">
    <% @ward.runns.each do |runn| %>
      <%= 
      if runn == @ward.runns.first
        link_to "", runn, data: { keybinding: ['j', 'k'] }
      end 
      %>
      <div class="col-md-4" id="ward-view-runn">
        <%= render runn %>
      </div>
    <% end %>
  </div>
</div>
