<header class="navbar navbar-fixed-top navbar-inverse"> <!-- Bootstrap classes -->
  <% if logged_in? %>
  <div class="container"> <!-- generic div, given Bootstrap class "container" class -->
    <nav>
      <ul class="nav navbar-nav navbar-left"> <!-- ul given Bootstrap classes -->
        <li>
          <%= link_to 'Ward View', ward_view_path, 
                                   id: 'ward-view-link',
                                   data: { keybinding: 'w' } %>
      </li>
        <li>
          <%= link_to feed_lists_path, data: { keybinding: 'f' }, class: "btn" do %>
              <i class="glyphicon glyphicon-cutlery"></i>
          <% end %>
        </li>
        <li>
      </ul>
      <ul class="nav navbar-nav navbar-right"> <!-- ul given Bootstrap classes -->
          <li><%= link_to 'Owners', owners_path, data: { keybinding: 'o' } %></li>
          <li><%= link_to 'Patients',  all_patients_path, data: { keybinding: 'p' } %></li>
          <% if is_admin? %>
          <li><%= link_to 'Users',     users_path %></li>
          <li><%= link_to 'Wards',     wards_path %></li>
          <% end %>
          <li>
            <%= link_to logout_path, method: 'delete', class: 'btn' do %>
              <i class="glyphicon glyphicon-log-out"></i>
            <% end %>
          </li>
        </li>
        <li>
          <%= link_to docs_path, data: { keybinding: '?' }, class: "btn" do %>
              <i class="glyphicon glyphicon-question-sign"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <% else %>
<ul class="nav navbar-nav ">
  <li><%= link_to "Log in", login_path %></li>
  <% end %>
</ul>
</header>
