<header class="navbar navbar-fixed-top navbar-inverse"> <!-- Bootstrap classes -->
  <% if logged_in? %>
  <div class="container"> <!-- generic div, given Bootstrap class "container" class -->
    <%= link_to 'Ward View', ward_view_path, id: 'ward-view-link' %>
    <nav>
      <ul class="nav navbar-nav navbar-left"> <!-- ul given Bootstrap classes -->
        <li>
          <%= link_to feed_lists_path, class: "btn" do %>
              <i class="glyphicon glyphicon-cutlery"></i>
              - Feeding List -
          <% end %>
        </li>
        <li>
      </ul>
      <ul class="nav navbar-nav navbar-right"> <!-- ul given Bootstrap classes -->
          <li><%= link_to 'Owners',    owners_path %></li>
          <li><%= link_to 'Patients',  all_patients_path %></li>
          <% if is_admin? %>
          <li><%= link_to 'Users',     users_path %></li>
          <li><%= link_to 'Wards',     wards_path %></li>
          <% end %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <li> 
          <%= link_to "#{request.original_url}.json", class: "btn" do %>
            <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#{request.original_url}.pdf", class: "btn" do %>
              <i class="glyphicon glyphicon-print"></i>
          <% end %>
        </li>
        <li>
          <%= link_to docs_path, class: "btn" do %>
              <i class="glyphicon glyphicon-question-sign"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <% else %>
<ul class="nav navbar-nav ">
  <li><%= link_to "Log in", login_path %></li>
  <% end %>
</ul>
</header>
